<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortner</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="bg-light">
    <div class="container mt-5 pt-5">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key.to_sym) %> alert-dismissible fade show" role="alert">
          <%= [*value].join(', ') %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
